.scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.464); */
    border-radius: 10px;
    padding: 20px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    position: absolute;
    top: 70vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

.title {
  @media only screen and (max-width: 600px) {
      width: 80vw;
  }
  
  left: 10vw;
  font-size: 5vmax;
  position: absolute;
  top: 20vh;
}

.title-description {
  @media only screen and (max-width: 600px) {
    width: 80vw;
  }

  position: absolute;
  left: 10vw;
  top: 40vh;
  width: 60vw;
  font-size: 2vmax;
  text-align: left;
}
  
  .scroll-text {
    font-size: 30pt;
    /* color: rgb(0, 235, 252); */
    /* background: linear-gradient(60deg, #23a6d5, #23d5ab); */
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .scroll-triangle {
    @media screen and (max-width: 600px) {
      width: 30px;
      height: 30px;
    }

    width: 45px;
    height: 45px;
    border-right: 7px solid;
    border-bottom: 7px solid;
    /* border-color: rgb(0, 235, 252); */
    transform: rotate(45deg);
    border-image: linear-gradient(60deg, #23a6d5, #23d5ab) 1;
  }