.mobile-contact-site {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mobile-contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: 60vh;
    justify-items: center;
    align-items: center;
}

.mobile-contact-container {
    width: 100%;
    // height: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
    perspective: 10em;
}

.mobile-contact-inactive {
    padding: 5vw;
    box-sizing: border-box;
}

.mobile-contact-active {
    box-sizing: border-box;
    padding: 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-size: 200% 200%;
    // background-position: 20% 50%;
    background-image: radial-gradient(circle at center, #23a6d5 0, #23a5d557 25%, transparent 40%);
    justify-content: space-between;
    border-radius: 5vw;
}

.reversed {
    flex-direction: row-reverse;
}

.mobile-contact-icon-border {
    height: 10vmin;
    width: 10vmin;
    border: 0.25em solid #23a6d5;
    border-radius: 100%;
    pointer-events: none;
    padding: 1em;
    flex-shrink: 0;
}

.mobile-contact-icon {
    width: 100%;
}

.mobile-contact-inactive > .mobile-contact-text {
    display: none;
}

.mobile-contact-active > .mobile-contact-text {
    font-size: 7vw;
    padding-left: 2vw;
    padding-right: 2vw;
    pointer-events: none;
    color: white;
    align-self: center;
    width: 100%
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}