.skill-container {
    @media only screen and (max-width: 600px) {
        padding-top: 10vh;
    }
    padding-top: 30vh;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
}

.plot-container {
    @media only screen and (max-width: 600px) {
        width: 80%;
    }
    width: 90%;
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);


}

.plane-container {
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.plane-container-border {
    border: 1px solid black;
}

.plane-container::-webkit-scrollbar {
    display: none;
}

.plane-container-scroll {
    @media only screen and (max-width: 600px) {
        width: 400%;
    }

    width: 100%;
}

.plane{
    padding-top: 20px;
    padding-bottom: 20px;
    grid-auto-rows: auto;
}

.skill-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.x-axis-labels {
    display: flex;
    flex-direction: row;
}

.x-axis-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.x-axis-label-text {
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, #23a6d5, #23d5ab) 1;
    // font-weight: bold;
    padding-left: .5em;
    padding-right: .5em;
}

.level-description {
    @media only screen and (max-width: 600px) {
        width: 100%
    }

    text-align: start;
    font-size: 10px;
    width: 30%;
}

.inner-row {
    display: grid;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

// .top-to-bottom {
//     border-left: 3px solid transparent;
//     border-right: 3px solid transparent;
// }

// .top-to-bottom:hover {
//     border-left: 3px solid;
//     border-right: 3px solid;
//     border-image: linear-gradient(#23a6d5, #23d5ab) 1;
// }
