.App {
  overflow-x: hidden;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around; 
  position: fixed;
  bottom: 0px;
  z-index: 5;
}

.panels {
  display: flex;
  flex-direction: column; 
}

.scroll {
  background: #ee7652bd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  background: rgba(255, 59, 180, 0);
}

.skills {
  background: #ffdd00;
  /* background: #e73c7e; */
  /* background: rgba(255, 0, 0, 0.7); */
}

.experience {
  background: rgba(0, 4, 255, 0.7);
}

.contact {
  // background: rgba(255, 0, 0, 0.7);
  background: white;
  perspective: 10em;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -1
}

.highlighted {
  /* color:rgb(0, 235, 252); */
  color: white;
  font-weight: bold;
  background-image: linear-gradient(60deg, #ee76525d, #ee7652bd, #ee76525d);
  background-size: 200% 300%;
  background-position: 50% 50%;
  padding-left: 3px;
  padding-right: 3px;
}

// .mail {
//   position: absolute;
//   left: 20vw;
//   top: 30vh;
// }

// .github {
//   position: absolute;
//   left: 50vw;
//   top: 50vh;
//   transform: translate(-100%, -50%);
// }

// .location {
//   position: absolute;
//   left: 30vw;
//   top: 60vh;
// }

// .linkedin {
//   position: absolute;
//   left: 60vw;
//   top: 70vh;
// }

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: content-box;
  padding: 1em;
  transform-origin: center center;
  background-size: 200% 200%;
  border-radius: 2vh;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-100%, -50%);
}

.contact-hint {
  font-size: 50pt;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-icon-border {
  height: calc(min(7vh, 7vw));
  width: calc(min(7vh, 7vw));
  border: 0.25em solid #23a6d5;
  border-radius: 100%;
  pointer-events: none;
  padding: 1em;
}

.contact-icon {
  width: 100%;
}

.contact-text {
  font-size: 40pt;
  padding-left: 0.5em;
  pointer-events: none;
  color: white;
  max-width: 20vw;
}